<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Retro PC Games Hub</title>
    </head>
    <body>
        <h1>Welcome to the Retro PC Games Hub!</h1>
		<h3>Log in or sign up to view the online play postings.</h3>
        <nav>
            <ul>
                <li>
                    <a href="/session/new">Log in</a>
                </li>
                <li>
                    <a href="/users/new">Sign Up</a>
                </li>
            </ul>
    </body>
</html>
