<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Retro PC Games Hub</title>
    </head>
    <body>
        <h1>Welcome to the Retro PC Games Hub!</h1>
		<h3>Click the link below to view online game listings.</h3>
		<a href="/index.ejs">ENTER</a>
    </body>
</html>
