<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Retro PC Games Hub</title>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/skeleton.css"/>
    </head>
    <body style="background: black; color: white; text-align: center">
		<img src="https://www.civfanatics.com/images/civ2/scen/TRscreen2.jpg"></img>
        <h1>Welcome to the Retro PC Games Hub!</h1>
		<h3>Click the link below to view online game listings.</h3>
		<a href="/postings">ENTER</a>
    </body>
</html>
