<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Retro PC Games Hub - Posts</title>
		<link rel="stylesheet" href="/css/normalize.css"/>
		<link rel="stylesheet" href="/css/skeleton.css"/>
    </head>
    <body style="background: black; color: white; text-align: center">
		<img src="https://www.myabandonware.com/media/screenshots/m/machiavelli-the-prince-2aj/machiavelli-the-prince_9.gif
"></img>
        <h1>Current Posts</h1>
		<ul>
			<div style="width:450px; height:150px; display: inline-block">
				<li>
					<%
						for(let i = postings.length - 1; i >= 0; i--) {
					%>
					<div style="display: block; border: 2px solid white; border-radius: 25px">
						<a style="color: white" href="/postings/<%=postings[i].id%>">
						<%=postings[i].topic%><br/> <%=postings[i].title%></a>
					</div>
					<%
						}
					%>
				</li>
			</div>
		</ul>
		<button style="color: white; background: black; border: solid white" onclick="window.location = '/postings/new'">NEW POST</button> <br />
    </body>
</html>
