<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Index of Retro PC Games Hub</title>
    </head>
    <body>
        <h1>Index of Retro PC Games Hub</h1>
    </body>
</html>
